.jumbotron {
    background-color: #1abc9c;
    color: white;
}
  
.jumbotron h1 {
    font-size: 60px;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
  }
  
.btn-outline-success:hover {
    color: white;
    background-color: #28a745;
    border-color: #28a745;
}